<h3>Favorite Questions</h3>

{{#each favList.items as |question|}}
  <p>{{question-preview question=question}}</p>
  <button class="btn btn-danger"{{action 'removeFromFaves' question}}>Remove from Favorites</button>
{{/each}}
