<div class="container">
  <header class="">
    <h1>Get Answers</h1>
  </header>
  <ul class="nav nav-tabs">
    <li role="presentation">{{#link-to 'index'}}Home{{/link-to}}</li>
    <li role="presentation">{{#link-to 'add-question'}}Ask{{/link-to}}</li>
    <li role="presentation">{{#link-to 'favorites'}}Favorites{{/link-to}}</li>
  </ul>
  {{outlet}}
</div>
