<div class="container">
  <header class="jumbotron">
    <h1>Get Answers</h1>
  </header>
  <ul class="nav nav-tabs">
    <li role="presentation">{{#link-to 'index'}}Home{{/link-to}}</li>
  </ul>
  {{outlet}}
</div>
